*{
  margin:0;
  border:0;
  box-sizing:border-box;
}

header{
  position:relative;
  background-color: #ffe6e6;
}

nav {
  background-color: white;
}

/* TOP-BAR */
.top-bar{
  background-color: #cce6ff;
}

.login{
  text-align: right;
}

/* TITLE-SECTION */

.bg{
  background-image: url(../img/bghubspot.jpg);
  background-size: 100% 100%;
}

.bg-light-blue{
  background-color: #e6faff;
}


.right-title-section{
  background-image: url("../img/temporarybg.png");
  background-size:cover;
  background-repeat: no-repeat;
  z-index:1;

}

.left-title-section-top{
  height:25%;
  border:1px solid black
}

.left-title-section-middle{
  height:25%;
  border:1px solid black
}

.left-title-section-bottom{
  height:50%;
  border:1px solid black
}

.button{
  color:white;
  width:20%;
  height:15%;
  background-color: darkorange;
  border-radius: 15px;
  margin-top: auto;
  margin-bottom: auto;
}
/* BOTTOM-BAR */
.bottom-bar{
  background-color: #b3fff0;
  border-top: 2px solid #0077b3;
  border-bottom: 2px solid #0077b3
}
/* CUBE-SECTION */

.cube-section{
  text-align: center;
}

.cube-section-top{
  height:50%;
  border:1px solid black;
  position:relative;
}

.cube-section-middle{
  height:25%;
  border:1px solid black;
}

.cube-section-bottom{
  height:25%;
  border:1px solid black;
}

.cube-image{
  position:absolute;
  height:90%;
  width:auto;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

/* FH-SECTION */
.left-fh-section-top{
  height:50%;
  border:1px solid black;
}

.left-fh-section-bottom{
  height:50%;
  border:1px solid black;
}

.right-fh-section-top{
  height:33%;
  border:1px solid black;

}

.right-fh-section-middle{
  height:33%;
  border:1px solid black;

}

.right-fh-section-bottom{
  height:33%;
  border:1px solid black;

}

/* THREE-COLUMN SECTION */

.left-column,.right-column,.middle-column{
  text-align: center;
}


[class*="column-image"]{
  height:15%;
  border:1px solid black;
}

[class*="column-title"]{
  height:15%;
  border:1px solid black;
}

[class*="column-paragraph"]{
  height:40%;
  border:1px solid black;
}

/* THREE COLUMNS SECTION - BOTTOM COLUMN LAYOUT */
[class*="sub-column-bottom"]{
  height:30%;
  border:1px solid black;
}

[class*="column-bottom-title"]{
  height:33%;
  border:1px solid black;
}

[class*="column-bottom-list"]{
  height:34%;
  border:1px solid black;
}

[class*="column-bottom-button"]{
  height:33%;
  border:1px solid black;
}

/* AZURE-SECTION */

.azure-section{
  background-color: #5cd6d6;
  text-align: center;
  color: white;
}

.azure-section-title{
  height:20%;
  border:1px solid black;
}

.azure-section-paragraph{
  height:20%;
  border:1px solid black;
}

/* AZURE-SECTION GRID */

.azure-section-grid{
  height:60%;
  border:1px solid black;
}

.azure-section-grid-first-line,.azure-section-grid-second-line{
  height:50%;
  border:1px solid black;
}

[class*="azure-section-grid-first-row"],[class*="azure-section-grid-second-row"]{
  height:100%;
}

[class*="block"]{
  height:33%;
  border:1px solid black;
}

/* ASIAN GIRL SECTION */

.asiangirl-left-section-top{
  height:30%;
  border:1px solid black;
}

.asiangirl-left-section-top-title{
  height:50%;
  border:1px solid black;
}

.asiangirl-left-section-top-paragraph{
  height:50%;
  border:1px solid black;
}

.asiangirl-left-section-below{
  height:70%;
  border:1px solid black;

}

[class*="asiangirl-left-section-bottom"]{
  height:25%;
  border:1px solid black;
}

.sponsorlogo{
  height:30%;
  background-image: url("../img/sponsorlogos.png");
  background-size: 100% 100%;
  border:1px solid black;
}

.asiangirl-photo{
  height:70%;
  /* background-image: url("../img/asiangirl.png"); */
  /* background-size: 70% auto;
  background-repeat: no-repeat; */
  border:1px solid black;

}

.model{
  height:100%;
  width:auto;
  float:right;
}

/* BAGGIANATE */
.bg-petrol{
  background-color: #145252;
}

.baggianate{
  color:white;
}

.four-columns-baggianate{
  height:70%;
}

[class*="baggianate-col"]{
  height:100%;
}

.baggianate-footer{
  height:30%
}

[class*="baggianate-title"]{
  height:15%;
  width:100%;
  border:1px solid black;
}

[class*="baggianate-list"]{
  height:65%;
  width:100%;
  border:1px solid black;
}

[class*="baggianate-social"]{
  height:20%;
  width:100%;
  border:1px solid black;
}



.baggianate-social-button{
  height:50%;
  border:1px solid black;
}

.baggianate-social-icons{
  height:50%;
  border:1px solid black;
}

.language-selection{
  height:30%;
}

.language-selector li {
  text-decoration: none;
  display: inline-block;
}

.credits-right{
  text-align: right;
  text-decoration: none;
}
