*{
  margin:0;
  border:0;
  box-sizing:border-box;
  font-family: "AvenirNext","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 18px;
  line-height: 30px;
}

header{
  position:relative;
  color:rgb(0, 43, 128, 0.8)
}

/* ADJUSTMENTS */
.font-size-h1{
  margin-top:2%;
  font-size:50px;
  line-height: 60px;
}

.font-size-h2{
  margin-top:2%;
  font-size:30px;
  line-height: 40px;
}

.font-size-h3{
  margin-top:2%;
  font-size:25px;
  line-height: 40px;
}

.font-size-h4{
  margin-top:2%;
  font-size:20px;
  line-height: 35px;
}

.small-span{
  font-size:12px;
}

.margin-fix-tb{
  margin-top: 2%;
  margin-bottom:2%;
}

.margin-fix-lr{
  margin-right: 2.75%;
  margin-left: 2.75%;
}

.padding-fix-tb{
  padding-top: 2%;
  padding-bottom: 2%;
}

.padding-fix-lr{
  padding-right: 2%;
  padding-left: 2%;
}

/* BACKGROUNDS */
.bg-light-blue{
  background-color: rgb(244, 249, 253);
}

.bg-petrol{
  background-color: rgb(51, 74, 91);
}

.paper{
  background-color: white;
  border:1px, solid lightgrey;
  border-radius: 5px;
  box-shadow: 3px 3px 3px lightgrey;
}

/* TOP BAR */
.language-contact{
  text-align: left;
}

header a{
  line-height: 600%;
  color:rgb(0, 43, 128, 0.8);
  text-decoration: none;
  font-weight: bold;
}

/* NAV-BAR */
nav {
  background-color: white;
}

.nav ul{
  text-align: right;
  list-style: none;
}

.nav ul li{
  margin-top: 7%;
  margin-bottom: auto;
  margin-left: 4%;
  display: inline-block;
}

.container{
  padding-left: 16.66%;
  padding-right: 16.66%;
}

.login{
  text-align: right;
}

.button-t{
  color:#fe6f51;
  width:20%;
  height:50%;
  background-color: white;
  border:1px solid #fe6f51;
  border-radius: 5px;
  margin-top: 5%;
  margin-right:2%;
  margin-left: 4%;
  margin-bottom: auto;
}

/* TITLE-SECTION */

.bg{
  background-image: url(../img/bghubspot.jpg);
  background-size: 100% 100%;
}

.right-title-section{
  background-image: url("../img/temporarybg.png");
  background-size:cover;
  background-repeat: no-repeat;

}

.left-title-section-top{
  height:25%;
  border:1px solid black;
}

.left-title-section-middle{
  height:25%;
  border:1px solid black
}

.left-title-section-bottom{
  height:25%;
  border:1px solid black
}

.left-title-section-bottom-button{
  height:25%;
  border:1px solid black
}

.button{
  color:white;
  width:40%;
  height:50%;
  background-color: #fe6f51;
  border-radius: 5px;
  margin-top: 5%;
  margin-bottom: auto;
}

/* BOTTOM-BAR */
.bottom-bar{
  background-color: #b3fff0;
  border-top: 2px solid #0077b3;
  border-bottom: 2px solid #0077b3
}
/* CUBE-SECTION */

.cube-section{
  background-color: rgb(244, 249, 253);
  color:rgb(0, 43, 128, 0.8);
  text-align: center;
}

.cube-section-top{
  height:50%;
  border:1px solid black;
  position:relative;
}

.cube-section-middle{
  height:25%;
  border:1px solid black;
}

.cube-section-bottom{
  height:25%;
  border:1px solid black;
}

.cube-image{
  position:absolute;
  height:90%;
  width:auto;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

/* FH-SECTION */

.left-fh-section{
  height:100%;
  border:1px solid black;
}

.left-fh-section-top{
  text-align: center;
  height:50%;
  border:1px solid black;
}

.left-fh-section-bottom{
  text-align: center;
  height:50%;
  border:1px solid black;
}

[class*=right-fh-section]{
  text-align: left;
  color:rgb(0, 43, 128, 0.8);
  height:33%;
  border:1px solid black;
}

.right-fh-section-bottom ul li{
  display:inline-block;
  margin-right: 3%;
  margin-top: 3%;
}

.right-fh-section-bottom ul{
  list-style-image:url("../img/bullet.png");
  padding-left:0;
}

/* THREE-COLUMN SECTION */

.left-column,.right-column,.middle-column{
  text-align: center;
  color:rgb(0, 43, 128, 0.8);
}


[class*="column-image"]{
  height:15%;
  border:1px solid black;
}

[class*="column-image"] img{
  height:100%;
}

[class*="column-title"]{
  height:10%;
  border:1px solid black;
}

[class*="column-paragraph"]{
  height:35%;
  border:1px solid black;
}

/* THREE COLUMNS SECTION - BOTTOM COLUMN LAYOUT */
[class*="sub-column-bottom"]{
  height:40%;
  border:1px solid black;
}

[class*="column-bottom-title"]{
  height:33%;
  border:1px solid black;
}

[class*="column-bottom-list"]{
  height:34%;
  border:1px solid black;
}

[class*="column-bottom-list"] ul{
  text-align: left;
  list-style-image:url("../img/bullet.png");
}

[class*="column-bottom-button"]{
  height:33%;
  border:1px solid black;
}

/* AZURE-SECTION */

.azure-section{
  background-color: rgb(14, 170, 172, 0.9);
  text-align: center;
  color: white;
}

.azure-section-title{
  height:20%;
  border:1px solid black;
}

.azure-section-paragraph{
  height:20%;
  border:1px solid black;
}

/* AZURE-SECTION GRID */

.azure-section-grid{
  height:60%;
  border:1px solid black;
}

.azure-section-grid-first-line,.azure-section-grid-second-line{
  height:50%;
  border:1px solid black;
}

[class*="azure-section-grid-first-row"],[class*="azure-section-grid-second-row"]{
  height:100%;
}

[class*="block"]{
  height:33%;
  border:1px solid black;
}

/* ASIAN GIRL SECTION */

.asiangirl-left-section-top{
  height:40%;
  border:1px solid black;
  color:rgb(0, 43, 128, 0.8);
}

.asiangirl-left-section-top-title{
  padding-left: 12.5%;
  height:50%;
  border:1px solid black;
  color:rgb(0, 43, 128, 0.8);
}

.asiangirl-left-section-top-paragraph{
  padding-left: 12.5%;
  height:50%;
  border:1px solid black;
  color:rgb(0, 43, 128, 0.8);
}

.asiangirl-left-section-below{
  height:60%;
  border:1px solid black;
  color:rgb(0, 43, 128, 0.8);
}

[class*="asiangirl-left-section-bottom"]{
  color:rgb(0, 43, 128, 0.8);
  height:25%;
  border:1px solid black;
}

.sponsorlogo{
  height:30%;
  background-image: url("../img/sponsorlogos.png");
  background-size: 100% 100%;
  border:1px solid black;
}

.asiangirl-photo{
  height:70%;
  border:1px solid black;
}

.model{
  height:100%;
  width:auto;
  float:right;
}

/* BAGGIANATE */

.baggianate{
  color:white;
}

.four-columns-baggianate{
  height:70%;
}

[class*="baggianate-col"]{
  height:100%;
}

.baggianate-footer{
  height:30%
}

[class*="baggianate-title"]{
  height:15%;
  width:100%;
  border:1px solid black;
}

[class*="baggianate-list"]{
  height:60%;
  width:100%;
  border:1px solid black;
}

[class*="baggianate-list-col"] ul{
  padding:0;
}

[class*="baggianate-list-col"] ul li{
  list-style: none;
  margin-top: 5%;
  margin-bottom: 12%;
}

[class*="baggianate-social"]{
  text-align: left;
  height:25%;
  width:100%;
  border:1px solid black;
}

[class*="baggianate-social"] i{
  margin-right:10%;
}


.baggianate-social-button{
  height:50%;
  border:1px solid black;
}

.button-w{
  color:rgb(51, 74, 91);
  width:75%;
  height:90%;
  background-color: lightgrey;
  border-radius: 5px;
  margin-bottom: auto;
}

.baggianate-social-icons{
  height:50%;
  border:1px solid black;
}

.language-selection{
  text-align: center;
  height:30%;
  border-bottom: 1px solid white;
}

.language-selector li {
  text-decoration: none;
  display: inline-block;
  margin:2%;
}

.credits-right {
  text-align: right;
  text-decoration: none;
}

.credits-right a{
  color: white;
  text-decoration:none;
  margin:2%;
}
